<main class="main-content-centered">
    <div class="rounded-lg bg-white text-black p-5 w-[30%] shadow">
        <img src="/assets/img/brand.svg" alt="brand" class="w-36 mb-9 mx-auto" />
        <h1 class="text-center font-bold text-xl my-8">Recuperacion de Contraseña</h1>
        <nz-alert nzType="error" nzMessage="{{ errorM }}" nzShowIcon *ngIf="errorM"></nz-alert>
        <nz-alert nzType="success" nzMessage="{{ successM }}" nzShowIcon *ngIf="successM"></nz-alert>
        <p class="my3">Sistea de recueperacion de contraseñas. Por favor ingresa los datos requeridos para este proceso</p>
        <form [formGroup]="formLogin" (ngSubmit)="enviar()">
            <div class="{{ campoEsValido('email') ? 'input-group error' : 'input-group' }}" *ngIf="paste == 1">
                <input type="email" class="control-input icon-right" formControlName="email" placeholder="Correo electrónico" />
                <label for="loginEmail" class="input-icon"><span class="bi bi-envelope-fill"></span></label>
                <span class="input-message" *ngIf="campoEsValido('email')">{{ getError("email") }}</span>
            </div>

            <div class="{{ campoEsValido('pin') ? 'input-group error' : 'input-group' }}" *ngIf="paste == 2">
                <input type="text" class="control-input icon-right" formControlName="pin" placeholder="Pin" />
                <label for="loginPassword" class="input-icon"><span class="bi bi-unlock-fill"></span></label>
                <span class="input-message" *ngIf="campoEsValido('pin')">{{ getError("pin") }}</span>
            </div>

            <div class="my-3 flex items-center justify-center">
                <button type="submit" class="btn btn-primary block mx-auto">
                    <span *ngIf="paste == 1">Comprobar correo electrónico</span>
                    <span *ngIf="paste == 2">Verificar Pin</span>
                    <span class="bi bi-arrow-right-short"></span>
                </button>
            </div>
        </form>
    </div>
</main>
