<h1 class="my-6 text-2xl font-semibold text-gray-70">Editar Mascota</h1>

<form class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md" [formGroup]="requestForm" (ngSubmit)="enviar()">
    <h2 class="mb-4 text-lg font-semibold text-gray-600">Datos que se pueden editar</h2>
    <nz-alert nzType="error" nzMessage="{{ errorM }}" nzShowIcon *ngIf="errorM"></nz-alert>
    <nz-alert nzType="success" nzMessage="{{ successM }}" nzShowIcon *ngIf="successM"></nz-alert>

    <!-- datos de mascota -->

    <div class="form-group group-three mt-4">
        <div class="{{ campoEsValido('name') ? 'input-group error' : 'input-group' }}">
            <input type="text" class="control-input icon-left" placeholder="Nombre" formControlName="name" />
            <label class="input-icon"><span class="bi bi-person-vcard-fill"></span></label>
            <span class="input-message" *ngIf="campoEsValido('name')">{{ getError("name") }}</span>
        </div>
        <div class="{{ campoEsValido('age') ? 'input-group error' : 'input-group' }}">
            <input type="text" class="control-input icon-left" placeholder="Edad" formControlName="age" />
            <label class="input-icon"><span class="bi bi-calendar-day-fill"></span></label>
            <span class="input-message" *ngIf="campoEsValido('age')">{{ getError("age") }}</span>
        </div>

        <div class="{{ campoEsValido('breed') ? 'input-group error' : 'input-group' }}">
            <input type="text" class="control-input icon-left" placeholder="Raza" formControlName="breed" />
            <label class="input-icon"><span class="bi bi-gender-ambiguous"></span></label>
            <span class="input-message" *ngIf="campoEsValido('breed')">{{ getError("breed") }}</span>
        </div>
        <div class="{{ campoEsValido('color') ? 'input-group error' : 'input-group' }}">
            <input type="text" class="control-input icon-left" placeholder="Color" formControlName="color" />
            <label class="input-icon"><span class="bi bi-palette-fill"></span></label>
            <span class="input-message" *ngIf="campoEsValido('color')">{{ getError("color") }}</span>
        </div>
    </div>
    <div class="{{ campoEsValido('description') ? 'input-group error' : 'input-group' }}">
        <textarea class="control-input" placeholder="Una breve descripcion de tu mascota" formControlName="description"></textarea>
        <span class="input-message" *ngIf="campoEsValido('description')">{{ getError("description") }}</span>
    </div>

    <div class="my-7">
        <button type="submit" class="btn btn-primary">Actualizar Información</button>
    </div>
</form>
