.header {
    height: 3.75rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 50;
}

.header-content {
    width: 1280px;
    margin: 0 auto;
}

.header-link {
    @apply text-gray-300 transition cursor-pointer inline-block font-bold py-1 px-3;

    &.active,
    &:hover {
        color: #000 !important;
    }
}
