<section class="container mx-auto flex justify-between flex-wrap bg-gray-50 rounded-lg my-8">
    <div class="p-4 w-[48%]">
        <h2 class="text-xl font-bold mb-6">Misión</h2>
        <p class="text-justify font-light text-sm">
            Contribuimos a crear un mundo mejor, ayudando a amar y proteger a sus mascotas. En nuestro equipo de trabajo somos solidarios
            socialmente, brindando la mayor cantidad de trabajo posible, innovando constantemente y logrando un prestigio que nos haga perdurar
            en el tiempo. Además somos una empresa moderna y sólida, líder en varias ciudades del pais. Somos liderados por un equipo con la más
            alta calidad de capacitación somo concientes y sabemos que contamos con una mirada colaborativa e inclusiva.
        </p>
    </div>

    <div class="p-4 w-[48%]">
        <h2 class="text-xl font-bold mb-6">Visión</h2>
        <p class="text-justify font-light text-sm">
            Nustra vision es mejorar la calidad de vida de nuestros pacientes y sus familias, creando las condiciones adecuadas de salud y
            bienestar, manteniendo una constante enseñanza a los propietarios para el mantenimiento de sus mascotas y djando simpre en primer
            lugar que lo más eimportante es tener una mascota feliz.
        </p>
    </div>
</section>
