<main class="text-white content-main">
    <div class="container mx-auto">
        <h1 class="text-5xl text-white mb-7 font-bold">Bienvenido a Mascota Feliz</h1>
        <p class="text-justify w-7/12 text-lg font-light">
            En <b>Mascota Feliz</b> ofrecemos una membresía preferencial para perros y gatos, la cual brinda para nuestros afiliados productos y
            servicios de alta calidad. Nuestro propósito es llegar a donde otros no llegan. Somos personal calificado y estamos listos para
            atenderte. No lo dudes Contactanos y se uno sde nuestros clientes con una Mascota Feliz
        </p>
        <p class="text-sm mt-7 mb-3 font-light">
            Imágen de <a target="_blank" class="text-white underline" href=""></a> en
            <a target="_blank" class="text-white underline" href="">Pyxabay</a>
        </p>
    </div>
</main>
