<h3 class="text-center font-bold text-xl my-7 w-full">Planes y Beneficios</h3>
<div class="flex justify-between mb-8">
    <div class="w-[32%] card-container-plan">
        <h4 class="card-title">Premium</h4>
        <span class="card-image"><img src="/assets/img/Basico.svg" alt="" /></span>
        <strong class="card-price">$345.600 c/mes</strong>
        <div class="card-details">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br />
            Aliquam consequuntur dolorem libero id! Odit eaque porro <br />
            nulla voluptate dolorem animi, corrupti, accusamus cumque <br />
            sint dolores adipisci architecto odio, fugiat libero! <br />
        </div>
        <button class="btn bg-sky-400 border-sky-400 text-white hover:bg-sky-500 hover:border-sky-500 mx-auto">Suscribirme</button>
    </div>
    <div class="w-[32%] card-container-plan">
        <h4 class="card-title">Premium</h4>
        <span class="card-image"><img src="/assets/img/Premium.svg" alt="" /></span>
        <strong class="card-price">$345.600 c/mes</strong>
        <div class="card-details">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br />
            Aliquam consequuntur dolorem libero id! Odit eaque porro <br />
            nulla voluptate dolorem animi, corrupti, accusamus cumque <br />
            sint dolores adipisci architecto odio, fugiat libero! <br />
        </div>
        <button class="btn bg-sky-400 border-sky-400 text-white hover:bg-sky-500 hover:border-sky-500 mx-auto">Suscribirme</button>
    </div>
    <div class="w-[32%] card-container-plan">
        <h4 class="card-title">Premium</h4>
        <span class="card-image"><img src="/assets/img/Medio.svg" alt="" /></span>
        <strong class="card-price">$345.600 c/mes</strong>
        <div class="card-details">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br />
            Aliquam consequuntur dolorem libero id! Odit eaque porro <br />
            nulla voluptate dolorem animi, corrupti, accusamus cumque <br />
            sint dolores adipisci architecto odio, fugiat libero! <br />
        </div>
        <button class="btn bg-sky-400 border-sky-400 text-white hover:bg-sky-500 hover:border-sky-500 mx-auto">Suscribirme</button>
    </div>
</div>
