<section class="container mx-auto flex flex-wrap gap-x-5">
    <div class="w-[48%] flex justify-between flex-wrap">
        <h2 class="font-bold text-xl my-7 w-full">Nuestros Servicios</h2>
        <div class="flex flex-col w-[48%] mb-5">
            <img src="/assets/img/img (3).jpg" alt="laboratorio" class="w-full aspect-auto h-[166px] object-cover" />
            <h3 class="font-bold text-center text-sm my-3">Exámenes de lavoratorio</h3>
            <p class="text-justify text-sm">
                Ofrecemos servcio de laboratorio tales como bioquímica (glucosa, pruebas hepáticas, pruebas renales, electrolitos, amilasa
                pancreática, proteínas etc.) Estudios de coagulación (tiempo de protrombina, fibrinógeno y factores de coagulación específicos)
                y mucho más.
            </p>
        </div>
        <div class="flex flex-col w-[48%] mb-5">
            <img src="/assets/img/img (4).jpg" alt="radiografia" class="w-full aspect-auto h-[166px] object-cover" />
            <h3 class="font-bold text-center text-sm my-3">Imégenes Diagnosticas</h3>
            <p class="text-justify text-sm">
                Contamos con imégenes diagnosticas: Tomografía computarizada, imágenes por resonancia magnética, radiografías y otros estudios
                radiográficos tambien contamos con estudios de medicina nuclear y ecografía (ultrasonido).
            </p>
        </div>
        <div class="flex flex-col w-[48%] mb-5">
            <img src="/assets/img/img (5).jpg" alt="radiografia" class="w-full aspect-auto h-[166px] object-cover" />
            <h3 class="font-bold text-center text-sm my-3">Cirugía y esterilización</h3>
            <p class="text-justify text-sm">
                Contamos con servicios de cirugía para tus mascotas, nuestro portafolio incluye esterilización o castración, cirugías por
                obstrucción intestinal, operación de hernias, operación de cataratas y cirugías traumatológicas (fracturas, luxaciones).
            </p>
        </div>
        <div class="flex flex-col w-[48%] mb-5">
            <img src="/assets/img/img (1).jpg" alt="radiografia" class="w-full aspect-auto h-[166px] object-cover" />
            <h3 class="font-bold text-center text-sm my-3">Higiene y Aseo</h3>
            <p class="text-justify text-sm">
                Realizamos una correcta higiene de tus pequeños amigos. Contamos con servicio de baño, corte d egarras, corte de pelo,
                desparacitacion y vacunación. Tnenemos personal especializado para evitar el estrés a us mascotas.
            </p>
        </div>
    </div>
    <index-planes class="w-[48%] flex justify-between flex-wrap"></index-planes>
</section>
