@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito', "sans-serif" !important;
    box-sizing: border-box;
}

.btn {
    @apply inline-block py-2.5 px-3 border border-transparent border-solid text-center text-sm font-bold transition leading-none cursor-pointer hover:outline-none focus:outline-none rounded-lg;
    text-decoration: none;
}

.btn:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

.btn-primary {
    @apply bg-sky-400 text-white border-sky-400 hover:bg-sky-500 hover:border-sky-500;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

.btn-secondary-outline {
    @apply border-zinc-400 text-zinc-400 hover:bg-zinc-400 hover:text-white;
}

.btn-secondary {
    @apply border-zinc-400 bg-zinc-400 text-white hover:bg-zinc-500 hover:border-zinc-500;
}

.input-group {
    @apply relative text-gray-500 focus-within:text-sky-500;
}

.form-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    &.group-two .input-group {
        width: 48%;
    }

    &.group-three .input-group {
        width: 32%;
    }

    &.group-four .input-group {
        width: 24%;
    }
}

.control-input {
    @apply block w-full mt-1 text-sm text-black focus:border-sky-400 focus:outline-none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.control-input.icon-left {
    @apply pl-10;
    & + .input-icon {
        @apply absolute inset-y-0 flex items-center ml-3 pointer-events-none;
    }
}

.control-input.icon-right {
    @apply pr-10;
    & + .input-icon {
        @apply absolute inset-y-0 right-0 flex items-center mr-3 pointer-events-none;
    }
}

.input-group.error {
    margin-bottom: 1.5rem;
    .control-input {
        @apply text-red-500 border-red-500 hover:border-red-400;
    }
    .input-icon {
        @apply text-red-500;
    }
    .input-message {
        @apply text-sm text-red-500;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1.5rem;
    }
}