<main class="main-content-centered">
    <div class="rounded-lg bg-white text-black p-5 w-[30%] shadow">
        <img src="/assets/img/brand.svg" alt="brand" class="w-36 mb-9 mx-auto" />
        <h1 class="text-center font-bold text-xl my-5">Actualización de contraseña</h1>
        <nz-alert nzType="error" nzMessage="{{ errorM }}" nzShowIcon *ngIf="errorM"></nz-alert>
        <nz-alert nzType="success" nzMessage="{{ successM }}" nzShowIcon *ngIf="successM"></nz-alert>
        <p class="my-3 text-center">Sistema de cambio de contraseñas</p>
        <form [formGroup]="formLogin" (ngSubmit)="enviar()">
            <div class="{{ campoEsValido('email') ? 'input-group error' : 'input-group' }}">
                <input type="email" class="control-input icon-right" formControlName="email" placeholder="Correo electrónico" />
                <label for="loginEmail" class="input-icon"><span class="bi bi-envelope-fill"></span></label>
                <span class="input-message" *ngIf="campoEsValido('email')">{{ getError("email") }}</span>
            </div>

            <div class="{{ campoEsValido('oldPassword') ? 'input-group error' : 'input-group' }}">
                <input type="password" class="control-input icon-right" formControlName="oldPassword" placeholder="Contraseña actual" />
                <label for="loginPassword" class="input-icon"><span class="bi bi-unlock-fill"></span></label>
                <span class="input-message" *ngIf="campoEsValido('oldPassword')">{{ getError("oldPassword") }}</span>
            </div>

            <div class="{{ campoEsValido('password') ? 'input-group error' : 'input-group' }}">
                <input type="password" class="control-input icon-left" placeholder="Nueva contraseña" formControlName="password" />
                <label class="input-icon"><span class="bi bi-lock-fill"></span></label>
                <span class="input-message" *ngIf="campoEsValido('password')">{{ getError("password") }}</span>
            </div>

            <div class="my-3 flex items-center justify-center">
                <button type="submit" class="btn btn-primary block mx-auto">
                    <span>Actualizar contraseña</span>
                    <span class="bi bi-arrow-right-short"></span>
                </button>
            </div>
        </form>
    </div>
</main>
